<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Måns Klackensjö CV</title>
    <link rel="stylesheet" href="/css/cv.css" />
</head>

<!--

Information: A photo of you (an image “<img>”), your first name, last name, e-mail, and phone number
(please put 07 07 07 07 07 as your phone number!)
- Education: A list of your studies and diploma (including this year) sorted by date (descending), at least
2
- Work: A list of works/jobs you have made, at least 2. If you don’t have any work experience, no
problem, invent an imaginary job you could have done: babysitting, ice cream shop, ...
- Computer skills: A “list”, presented as you wish of your computer skills and knowledge, at least 5 skills
- Languages: your written and spoken language skills presented the way you want
- Others: your hobbies, your driving license, ... 

-->

<body>
    <aside>
        <img src="/img/mans.JPG"  alt="Bild på måns som liten">
        <h1>Måns Klackensjö</h1>
        <div>
            <h2>Contacts:</h2>
            <p><b>&#9993; Email: </b>klm23hs@student.ju.se</p>
            <p><b>&#9742; Phonenumber: </b>07656565655</p>
        </div>
    </aside>
    <main>
        <div>
        <h3>Education:</h3>
            <ul>
                <li>2023 - 2026 NICS student</li>
                <li>2021 - 2023 Erikdahlbergsgymnasiet, Teknisklinje</li>
            </ul>
        </div>
        <div>
        <h3>Work Experience</h3>
            <ul>
                <li>2023 September - now, Arla Kyllager </li>
                <li>2022 June -2023 August, Biltema Nässjö</li>
            </ul>
        </div>
    </main>
    <div>
        <section>
            <h4>PC Skills:</h4>
            <ol>
                <li>WORD</li>
                <li>Excel</li>
                <li>python</li>
                <li>fortinite</li>
                <li>pababaG</li>
            </ol>
        </section>
        <section>
            <h4>Languages</h4>
            <ol>
                <li>botswaniska</li>
                <li>tunissiska</li>
            </ol>
        </section>
        <section>
            <h4>My Hobbies</h4>
            <ol>
                <li>Repair PC:s</li>
                <li></li>
            </ol>
        </section>
    </div>
    
</body>
</html>