<h2>About MovieBase</h2>
<p>MovieBase is YOUR goto website when it is time to choose a movie for the night!</p>
<p>We are a very specialized community that ensures alot of movie nights per week. We are the first ones to get access to new moviees to be relesed.</p>
<p>To join our community please send an email about yourself and why you should be part of the community.</p>
<p>Email: klma23hs@student.ju.se</p>