<h2>All Users</h2>
<table border="1" cellpadding="5">
  <tr><th>ID</th><th>Username</th><th>Role</th></tr>
  {{#each users}}
    <tr><td>{{id}}</td><td>{{username}}</td><td>{{role}}</td></tr>
  {{/each}}
</table>